{% extends 'base.html.twig' %}

{% block title %}New Resider{% endblock %}

{% block body %}
    <h1>Créer une residence</h1>

    {{ include('resider/_form.html.twig') }}

    <a href="{{ path('resider_index', { 'utilisateur': utilisateur.id }) }}">back to list</a>
{% endblock %}
