{% extends 'base.html.twig' %}

{% block title %}New UtiliserPromo{% endblock %}

{% block body %}
    <h1>Create new UtiliserPromo</h1>

    {{ include('utiliser_promo/_form.html.twig') }}

    <a href="{{ path('utiliser_promo_index') }}">back to list</a>
{% endblock %}
