/*-----------------------------------------------------[Typology]-----------------------------------------------------*/



/*-----------------------------------------------------[Settings]-----------------------------------------------------*/

// Spacing Variables
// Change below variable if the height of the navbar changes
$topbar-base-height: 4.375rem !default;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 14rem !default;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 6.5rem !default;