<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Confimation de votre compte</title>
	</head>
	<body>

	<div>

		<h2>Comfirmation de votre compte {{ utilisateur.nom }}</h2>

		<p>Pour pouvoir activer votre compte veuillez cliquer sur le lien ci-dessous :</p>

		<a href="{{ link }}">Cliquez Ici</a>

		<div>Si ce vous n'êtes pas l'auteur de cette inscription,
			veuillez s'il vous plait sécuriser votre compte,
			puis que quelqu'un vient de s'inscrire sur nos services avec cette email.</div>

	</div>

	</body>
</html>